<section id="feed">
    <div id="grid">
        <div ng-if="allCardsDisabled" class="empty-feed reveal">
            <p class="daily">{{dailyMsg}}</p>
            <p>Add cards with the button in the bottom right corner</p>
        </div>
        <div ng-repeat="card in cards | filter: {enabled:true} track by card.name" repeat-end="onEnd()" ng-include="card.template"
            class="card-wrapper">
        </div>
    </div>
</section>

<div class="fab fixed-action-btn click-to-toggle" ng-hide="allCardsEnabled">
    <ul>
        <li ng-repeat="card in cards" ng-show="!card.enabled && !card.system">
            <span class="fab-name">{{card.name | humanize}}</span>
            <a ng-click="toggle(card,true)" class="btn-floating waves-effect waves-light" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                <i class="large material-icons">{{ card.icon }}</i>
            </a>
        </li>
    </ul>
    <a class="btn-floating btn-large red waves-effect waves-light" ng-click="triggerFab()">
        <i class="large material-icons">add</i>
    </a>
</div>