<header ng-style="{'background-image': 'url('+backgroundImageUrl+')'}">
    <!-- <my-typer ng-if="route() == '/onboarding'" source="['Welcome to Cardboard']" start="route() == '/onboarding'" class="header-typer"></my-typer> -->
    <div ng-show="trends.enabled"
        my-ctrl-click
        url="searchTrend()"
        before-click="track('Trends','Searched')"
        class="header-typer trends">
        <my-typer source="trends.data"
            start="trends.start"
            term="trendTerm"></my-typer>
    </div>
    <a class="doodle"
        ng-show="doodles.enabled"
        href="{{doodles.data.url}}">
        <img ng-class="{right: trends.enabled}"
            ng-src="{{doodles.data.img}}" />
    </a>
    <div id="more">
        <a ng-href="#!/settings">
            <i class="material-icons small waves-effect waves-light white-text">
                settings
            </i>
        </a>
    </div>
</header>

<div class="global progress" ng-class="{'loading':$root.loading}">
    <div class="indeterminate"></div>
</div>


<section id="feed">
    <div id="grid">
        <div ng-if="allCardsDisabled" class="empty-feed reveal">
            <p class="daily">{{dailyMsg}}</p>
            <p>Add cards with the button in the bottom right corner</p>
        </div>
        <div ng-repeat="card in cards | filter: {enabled:true} track by card.name" repeat-end="onEnd()" ng-include="card.template"
            class="card-wrapper">
        </div>
    </div>
</section>

<div class="fab fixed-action-btn click-to-toggle" ng-hide="allCardsEnabled">
    <ul>
        <li ng-repeat="card in cards" ng-show="!card.enabled && !card.system">
            <span class="fab-name">{{card.name | humanize}}</span>
            <a ng-click="toggle(card,true)" class="btn-floating waves-effect waves-light" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
                <i class="large material-icons">{{ card.icon }}</i>
            </a>
        </li>
    </ul>
    <a class="btn-floating btn-large red waves-effect waves-light" ng-click="triggerFab()">
        <i class="large material-icons">add</i>
    </a>
</div>