<style>
    .card.system {
        min-height: 329px;
    }

    .card.system .card-content .wrapper {
        display: flex;
        padding: 10px 15px;
    }

    .card.system .wrapper-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 55px;
        font-size: 12px;
        font-weight: bold;
        margin-right: 15px;
        color: #546e7a;
    }

    .card.system .wrapper-name i {
        font-size: 34px;
        height: 45px;
        line-height: 55px;
    }

    .card.system .wrapper-info {
        flex-grow: 1;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card.system .wrapper-info p {
        margin-bottom: 1px;
        color: #424242
    }

    .card.system .progress {
        margin: 2px 0;
        height: 6px;
    }

    .card.system .storage .wrapper-info {
        margin: 0;
    }

    .card.system .storage-unit {
        display: flex;
        align-items: center;
        padding: 5px 7px;
        height: 40px;
    }

    .card.system .storage-unit .progress {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        border-radius: 0;
    }

    .card.system .storage-unit p {
        margin-bottom: 0;
        z-index: 2;
    }

    .card.system .storage-unit i {
        color: #424242;
        font-size: 1.25rem;
    }

    .card.system .storage-unit .disk-name {
        flex-grow: 1;
        z-index: 2;
    }

    .card.system .storage-unit .disk-capacity {
        flex-shrink: 0;
        z-index: 2;
    }
</style>
<div id="grid-item" data-item-id="{{card.name}}">
    <div class="card z-depth-1 system" ng-controller="SystemCtrl">
        <div class="card-title">
            <i class="material-icons">{{card.icon}}</i> System
            <span class="dropdown-card-btn">
                <i data-activates="dropdown-card-system" class="material-icons small waves-effect waves-light">more_vert</i>
            </span>
        </div>
        <div class="card-content">
            <div class="wrapper cpu">
                <div class="wrapper-name">
                    <i class="material-icons">nfc</i>
                    <div>CPU</div>
                </div>
                <div class="wrapper-info">
                    <p>{{cpu.modelName}}</p>
                    <p>{{cpu.archName}} - {{cpu.numOfProcessors}} core{{cpu.numOfProcessors > 1 ? 's':''}}</p>

                    <my-progress-bar ng-repeat="(key,core) in cpu.processors" progress="getCpuLoad(key)" monitor relative></my-progress-bar>
                </div>
            </div>
            <div class="wrapper memory">
                <div class="wrapper-name">
                    <i class="material-icons">memory</i>
                    <div>Memory</div>
                </div>
                <div class="wrapper-info">
                    <p>{{memory.availableCapacity | bytes}} available of {{memory.capacity | bytes}}</p>

                    <my-progress-bar progress="getMemoryLoad()" monitor="5000"></my-progress-bar>
                </div>
            </div>
            <div class="wrapper storage">
                <div class="wrapper-name">
                    <i class="material-icons">storage</i>
                    <div>Storage</div>
                </div>
                <ul class="wrapper-info">
                    <li class="storage-unit waves-effect" ng-repeat="unit in storage">
                        <i ng-if="unit.type == 'removable'" class="material-icons">usb</i>
                        <p ng-if="unit.name && !storage.dev" class=" disk-name " title="{{unit.name}} ">{{ unit.name | limitTo: 25 }}{{unit.name.length
                            < 25 ? '' : '...'}}</p>
                                <p ng-if="!unit.name && !storage.dev" class="disk-name ">{{unit.capacity | bytes}} Volume</p>
                                <p ng-if="!storage.dev" class="disk-capacity ">{{unit.used | bytes}}/{{unit.capacity | bytes}}</p>
                                <div ng-if="!storage.dev" class="progress">
                                    <div class="determinate " style="transition: transform .5s ease-in-out; width:
                                100%; overflow: hidden; transform: translateX(-{{unit.percent}}%); "></div>
                                </div>
                                <p ng-if="unit.name && storage.dev" class="disk-name " title="{{unit.name}} ">{{ unit.name | limitTo: 25 }}{{unit.name.length
                                    < 25 ? '' : '...'}}</p>
                                        <p ng-if="!unit.name && storage.dev" class="disk-name ">{{unit.capacity | bytes}} Volume</p>
                                        <p ng-if="storage.dev" class="disk-capacity ">{{unit.capacity | bytes}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ul id="dropdown-card-system" class="dropdown-content">
    <li ng-click="toggle(card,false) "><a>Remove</a></li>
</ul>