<style>
	#bg_logo{
		margin-bottom: -2px;
	}
</style>
<div ng-controller="AppearanceCtrl">
	<div class="category">Appearance</div>
	<div class="content">
		<span>Background image</span>
		<select ng-model="background" ng-init="background = settings.backgrounds[settings.backgroundId]" ng-change="updateBg()" ng-options="bg.name group by bg.type for bg in settings.backgrounds" ></select>
		<span> Or </span>
		<bg-pick></bg-pick>
		<br/>
		<br/>
		<span>Background position</span>
		<select ng-model="settings.backgroundPosition" ng-change="updateBgPos()" ng-options="bgp for bgp in ['top','center','bottom']"></select>
		<br/>
		<br/>
		<label for="bg_logo">Google Logo</label>
		<input type="checkbox" ng-model="settings.backgroundLogo" ng-change="updateBgLogo()" id="bg_logo">
	</div>
	<div class="media" ng-style="getHeaderStyle(true)"></div>
</div>