<style>
	.bookmarks .bookmark .wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.bookmarks .bookmark .name{
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	.bookmarks .bookmark .favicon{
		float: left;
		width: 16px;
		height: 16px;
		margin-right: 7px;
		background-size: 16px;
	}
	.bookmarks .bookmark .time{
		flex-shrink: 0;
		margin-left: 7px;
		font-size: 10px;
		color: #bbb;	
	}
</style>
<div ng-controller="BookmarkCtrl">
	<div class="category">
		<span ng-click="goTo('chrome://bookmarks')">{{settings.cards['bookmarks'].name}}</span>
	</div>
	<ul class="content">
		<li ng-repeat="node in bookmarks" ng-include="'bookmarksTree.html'" class="bookmark"></li>
	</ul>

	<script type="text/ng-template" id="bookmarksTree.html">
		<!-- // on check la proprieté children du node -->
		<div ng-switch on="node.children">
			<!-- // si elle n'existe pas c'est un bookmark -->
			<div ng-switch-when='undefined' class="wrapper">
				<a ng-href="{{node.url}}" class="name">
					<i class="favicon" ng-style="{'background-image': 'url(https://getfavicon.appspot.com/'+node.url+'?defaulticon=lightpng)'}"></i>
					{{node.title}}
				</a>
				<span class="time">{{node.dateAdded | fromNow}}</span>
			</div>
			<!-- // sinon c'est un dossier -->
			<div ng-switch-default>
				[ {{node.title}} ]
				<ul>
					<li ng-repeat="node in node.children" ng-include="'bookmarksTree.html'"></li>
				</ul>
			</div>
		</div>
	</script>
</div>