<style>
	.cardsCheck .cardCheck{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.cardsCheck .cardCheck label{
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	.cardsCheck .cardCheck .status{
		flex-shrink: 0;
		margin-left: 7px;
	}
	.cardsCheck .cardCheck .grant:after{
		content: 'Allow';
	}
	.cardsCheck .cardCheck .granted:after{
		color: #53B853;
		content: "Granted";
	}
</style>

<div ng-controller="CardsCtrl">
	<div class="category">Cards</div>
	<ul class="content">
		<li ng-repeat="(key,card) in settings.cards" class="cardCheck">
			<input type="checkbox" ng-model="card.enabled" ng-change="updateCards()" id="setting_card_{{key}}" ng-disabled="!card.allowed">
			<label for="setting_card_{{key}}">{{card.name}}</label>
			<div class="status" ng-class="{'btn grant':!card.allowed, 'granted': card.allowed}" ng-click="request()" ng-disabled="partials[key]"></div>
		</li>
		<li class="cardCheck">
			<label>Revoke All Permissions</label>
			<div class="status btn red" ng-click="revokeAll()">Revoke All</div>
		</li>
	</ul>
</div>