<style>

	@-webkit-keyframes rota {
		0%   { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@-webkit-keyframes fill {
		0%        { opacity: 0; }
		50%, 100% { opacity: 1; }
	}

	@-webkit-keyframes mask {
		0%        { opacity: 1; }
		50%, 100% { opacity: 0; }
	}

	.scale{
		transition: -webkit-transform ease .3s, opacity ease .3s;
	}
	.scale.ng-enter{
		-webkit-transform: scale(1.5,1.5);
		opacity: 0;
	}
	.scale.ng-enter.ng-enter-active{
		-webkit-transform: scale(0,0);
		opacity: 1;
	}
	.scale.ng-leave{
		opacity: 1;
	}
	.scale.ng-leave.ng-leave-active{
		opacity: 0;
	}

	.downloads .download{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.downloads .download .info{
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.downloads .download .info .name{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.downloads .download .info .name:hover{
		cursor: pointer;
		color: #777;
	}
	.downloads .download .info .host,
	.downloads .download .info .size{
		font-size: 11px;
		color: #bbb;	
	}
	.downloads .download .icon{
		flex-shrink: 0;
		width: 38px;
		height: 38px;
		margin-right: 7px;
		overflow: hidden;
	}
	.downloads .download .fileicon{
		height: inherit;
		background-repeat: no-repeat;
		background-position: center;
	}
	.downloads .download .pie{
		position: relative;
		height: inherit;
		box-shadow: inset 1px 1px 2px #d8d8d8;
		border-radius: 19px;
		background-color: #E2E2E2;
	}
	.downloads .download .pie .fileicon{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		background-size: 22px;
	}

	.downloads .download .status{
		flex-shrink: 0;
		margin-left: 7px;
		margin-top: 2px;
		font-size: 10px;
		color: #bbb;
		text-align: right;	
	}
	.downloads .download .status i{
		font-size: 11px;
		margin-top: 5px;
		margin-right: 5px;
		cursor: pointer;
	}
	.downloads .download .status i{
		color: #427fed;
	}
	.downloads .download .status .fa-times{
		font-size: 13px;
	}
	.downloads .download .status .cancel{
		color: #C84646;
	}
	.downloads .download .status .pause{
		color: #FF8500;
	}
	.downloads .download .fa-download{
		font-size: 20px;
		padding: 10px;
	}
</style>
<div ng-controller="DownloadCtrl">
	<div class="category">
		<span ng-click="goTo('chrome://downloads')">{{settings.cards['downloads'].name}}</span>
	</div>
	<ul class="content">
		<li ng-repeat="download in downloads" class="download">
			
			<div class="icon" ng-switch on="download.state">
				<div ng-switch-when="in_progress" class="pie scale" pie-downloader>
					<div class="fileicon" ng-style="{'background-image': 'url('+download.iconUrl+')'}">
						<i ng-if="!download.iconUrl" class="fa fa-download"></i>
					</div>
				</div>
				<div ng-switch-default class="fileicon scale" ng-style="{'background-image': 'url('+download.iconUrl+')'}">
					<i ng-if="!download.iconUrl" class="fa fa-download"></i>
				</div>
			</div>

			<div class="info">
				<div class="name" ng-click="open()">{{download.filename | filename}}</div>
				<span class="size"><span ng-if="download.state == 'in_progress'">{{download.bytesReceived | bytes}} / </span>{{download.totalBytes | bytes}}</span> - 
				<span class="host">{{download.url | host}}</span>
			</div>

			<div class="status">
				<div class="time" ng-switch on="download.state">
					<div ng-switch-when="in_progress" ng-switch on="download.paused">
						<div ng-switch-when="true">
							<div class="pause">paused</div>
							<i ng-if="download.canResume" class="fa fa-play" ng-click="resume()"></i>
							<i class="fa fa-times cancel" ng-click="cancel()"></i>
						</div>
						<div ng-switch-default>
							<div>{{download.estimatedEndTime | fromNow}}</div>
							<i class="fa fa-pause" ng-click="pause()"></i>
							<i class="fa fa-times cancel" ng-click="cancel()"></i>
						</div>
					</div>
					<div ng-switch-when="interrupted" ng-switch on="download.paused">
						<div class="cancel">{{download.error}}</div>
						<i class="fa fa-repeat" ng-click="retry()"></i>
					</div>
					<div ng-switch-when="complete">
						<div>{{download.endTime | fromNow}}</div>
						<span ng-if="download.state == 'interrupted'">Canceled</span>
						<i ng-if="download.exists && download.state !='interrupted'" ng-click="show()" class="fa fa-search"></i>
					</div>
				</div>
			</div>
			
		</li>
	</ul>
</div>