<style>
	.feedback .flex{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 7px;
	}
	.feedback .flex .flexitem{
		margin: 7px;
	}
	.feedback h2{
		font-family: "RobotoThin";
		font-size: 17px;
		color: #777;
	}
	.feedback h2,
	.feedback .flexitem p{
		padding-bottom: 10px;
	}
</style>
<div class="title">
	<span>About Card Board</span>
</div>
<div class="content">
	<p>This application is still in beta and may contains bugs. Please be indulgent as I will do my best to fix them as quickly as possible.
		I do this for free, for fun and because I enjoy sharing cool stuff :D</p>

	<div class="flex">
		<div class="flexitem">
			<h2>Have 1 min?</h2>
			<p>Help me improve this application by taking 1 minute to review and report bugs</p>
			<a href="https://chrome.google.com/webstore/support/hilmkmopmiomkmehbhajigccnglobaap" class="btn blue">Feedback</a>
		</div>
		
		<div class="flexitem">
			<h2>Stay tuned</h2>
			<p>Follow the project on his Google+ Page</p>
			<a href="https://plus.google.com/115967816314012668475" class="btn red">Google +</a>
		</div>
	</div>
	
</div>