<style>
	.topsites .site{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.topsites .site .name{
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	.topsites .site .favicon{
		float: left;
		width: 16px;
		height: 16px;
		margin-right: 7px;
		background-size: 16px;
	}
</style>
<div ng-controller="TopSitesCtrl">
	<div class="category">
		<span>{{settings.cards['topsites'].name}}</span>
	</div>
	<ul class="content">
		<li ng-repeat="site in topSites" class="site">
			<a ng-href="{{site.url}}" class="name">
				<i class="favicon" ng-style="{'background-image': 'url(https://getfavicon.appspot.com/'+site.url+'?defaulticon=lightpng)'}"></i>
				{{site.title}}
			</a>
		</li>	
	</ul>
</div>