<style>
	#feed{
		width: 420px;
	}
	.welcome.title{
		color: #33A1E5;
	}
	.next{
		min-height: 30px;
		line-height: 30px;
		color: #777;
		text-align: center;
		cursor: pointer;
	}
	.next:hover{
		color: #33A1E5;
	}
	.next i{
		margin-left: 5px;
		font-size: 14px;
	}
	.next.start:before{
		content:'Begin';
	}
	.next:before{
		content:'Next';
	}
	.next.end{
		display: none;
	}
</style>
<section id="feed" ng-class="{'blur':query.length && isFocused}">

	<div class="card card1">
		<div class="welcome title">Welcome</div>
		<div class="content">
			<p>This is your AWESOME New Tab Page</p>
		</div>
	</div>

	<div class="slideUp" ng-if="nextCard >= 1">
		<div class="card info">
			<div class="content">
				<p>This is a card, it shows useful information about your browser.</p>
				<i class="fa fa-arrow-down"></i>
			</div>
		</div>
		<div class="card">
			<div class="category">Why CardBoard is Awesome</div>
			<ul class="content">
				<li><i class="fa fa-check"></i>Preferences synced accross your Chrome sessions when signed into your Google Account</li>
				<li><i class="fa fa-check"></i>Fine control over your data thanks to in-app permissions management</li>
				<li><i class="fa fa-check"></i>Awesome & Responsive design</li>
			</ul>
		</div>
	</div>

	<div class="slideUp" ng-if="nextCard >= 2">
		<div class="card info">
			<div class="content">
				<div class="text">
					<p>Some cards need your consent because they display your data such as apps, bookmarks and downloads.</p>
					<p>Each permission needs to be granted only once and you can always manage them later on the <a href="#/settings">settings</a> page.</p>
					<p>Go ahead, allow some cards...</p>
				</div>
				<i class="fa fa-warning"></i>
			</div>
		</div>

		<div ng-include="'app/partials/CardsCard.html'" class="card cardsCheck"></div>
	</div>

	<div class="card slideUp" ng-if="nextCard >= 3">
		<div class="title">You're done !</div>
		<div class="content">
			Your Awesome New Tab Page is set up
		</div>
		<div class="actions">
			<a href="#/cardboard" class="action"><i class="fa fa-check-circle"></i>Show me</a>
		</div>
	</div>

	<div class="card next" ng-click="next()" ng-class="{'start': nextCard == 0, 'end': nextCard == 3}"><i class="fa fa-chevron-right"></i></div>

</section>