<style>
	.whatsnew .text{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.whatsnew .text p{
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	.whatsnew .fa-warning{
		margin-right: 7px;
	}
	.whatsnew a{
		display: block;
		text-align: right;
		text-decoration: underline;
	}
</style>
<div class="title">
	<span>What's New ?</span>
</div>
<div class="content">
	<ul>
		<li ng-if="update == 2"><i class="fa fa-warning"></i>Due to an update involving settings, your preferences have been reset. Sorry for the inconvenience</li>
		<li><i class="fa fa-check"></i>New Card: Top Sites</li>
		<li><i class="fa fa-check"></i>Pick your own background and more</li>
		<li><i class="fa fa-check"></i>Apps organised by frequency from now on</li>
		<li><i class="fa fa-check"></i>Uninstall apps on the fly with <i class="fa fa-trash-o"></i></li>
		<li><i class="fa fa-check"></i>Bug fixes</li>
	</ul>

	<!-- <a href="#/changelog">Full changelog</a> -->
</div>
<ul class="actions">
	<li class="action" ng-click="dismiss()">Got it !</li>
</ul>